<h2>We have the freshest meat in town - call us in South Edmeston, NY</h2>
<p>Meat lovers, you have just found the best place in town for fresh beef, chicken,  and pork. Visit us in  South Edmeston to place your order or call for more information.</p>

