<div class="welcome">
	<h3 class="f3"><i class="fas fa-comments"></i>Welcome</h3>
	<p>Welcome to Farmers Place...your place for the best in fresh meats, custom cuts, and award winning products.</p>
	<p>Established have been proudly serving the Upstate New York region and beyond since 1983, and have many satisfied customers to show for it.</p>
	<p>For your safety, we are licensed to handle all traditional and exotic meat products.</p>
</div>

<div class="services">
	<h3 class="f3"><i class="fas fa-utensils"></i>Services</h3>
	<p>Farmers Place is your one-stop-shop for delicious, fresh meats. We specialize in  a wide range of meats, from beef, chicken and pork. If you need something special, we are happy to deliver it to you with custom cuts of beef and pork.</p>
</div>

<div class="awards">
	<h3 class="f3"><i class="fas fa-certificate"></i>Awards</h3>
	<p>Farmers Place is the only World Cup Winner coming from the U.S.  In 2004, our owner Joe took all of his products to compete for international prestige. He won 30 medals from silver to gold. Due to the number of medals won, the association had no choice but to award him the World Cup Winner.  This is a feat that no American had accomplished before or since.</p>
</div>