		<a href="/pdf/orderForm.pdf" target="_blank" class="orderForm">
			<table>
				<tr>
					<th valign="top">BEEF</th>
					<th valign="top">PORK</th>
				</tr>
				<tr>
					<td valign="top">Tenderloin</td>
					<td valign="top"><span>Pork Steak</span><span>Rst</span></td>
				</tr>
				<tr>
					<td valign="top">Porterhouse</td>
					<td valign="top">Pork Loin:</td>
				</tr>
				<tr>
					<td valign="top">Sirloin</td>
					<td valign="top">Loin Roast</td>
				</tr>
				<tr>
					<td valign="top"><span>Top Round</span><span>Stk</span><span>Rst</span></td>
					<td valign="top"><span>Rib Roast</span><span>Country Ribs</span></td>
				</tr>
				<tr>
					<td valign="top"></td>
					<td valign="top">Pork Chops</td>
				</tr>
				<tr>
					<td valign="top"></td>
					<td valign="top">Pork Chops</td>
				</tr>
				<tr>
					<td valign="top"><span>Bottom Round</span><span>Stk</span><span>Rst</span></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top"></td>
					<td valign="top">Spare Ribs</td>
				</tr>
				<tr>
					<td valign="top"><span>Eye Round</span><span>Stk</span><span>Rst</span></td>
					<td valign="top"><span>Picnic</span><span>Bone-In</span><span>Rolled</span><span>Smoke</span><span>Fresh</span></td>
				</tr>
				<tr>
					<td valign="top"><span>Sirloin Tip</span><span>Stk</span><span>Rst</span></td>
					<td valign="top"><span>Bacon</span><span>Smoke</span><span>Fresh</span></td>
				</tr>
				<tr>
					<td valign="top"><span>Rib</span><span>Stk</span><span>Del</span><span>Rst</span></td>
					<td valign="top"><span>Ham</span><span>Smoke</span><span>Fresh</span></td>
				</tr>
				<tr>
					<td valign="top"><span>Chuck</span><span>Stk</span><span>Rst</span></td>
					<td valign="top"><span>Hocks</span><span>Smoke</span><span>Fresh</span></td>
				</tr>
				<tr>
					<td valign="top"></td>
					<td valign="top">Heart - Tongue - Liver - Lard</td>
				</tr>
				<tr>
					<td valign="top">Stew Beef</td>
					<td valign="top"><span>Hot Sausage</span><span>HB</span><span>HL</span><span>HP</span></td>
				</tr>
				<tr>
					<td valign="top">Soup Bones</td>
					<td valign="top"><span>Sweet Sausage</span><span>SB</span><span>SL</span><span>SP</span></td>
				</tr>
				<tr>
					<td valign="top">Cube Steak</td>
					<td valign="top"><span>Breakfast</span><span>BB</span><span>BL</span><span>BP</span></td>
				</tr>
				<tr>
					<td valign="top">Short Rib</td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">London Broil</td>
					<td valign="top">Veal - Lamb</td>
				</tr>
				<tr>
					<td valign="top"></td>
					<td valign="top">Shoulder</td>
				</tr>
				<tr>
					<td valign="top">Ground Chuck</td>
					<td valign="top">Steak</td>
				</tr>
				<tr>
					<td valign="top">Corned Beef</td>
					<td valign="top">Chops</td>
				</tr>
				<tr>
					<td valign="top">Dried Beef</td>
					<td valign="top">Stew</td>
				</tr>
				<tr>
					<td valign="top">Heart - Tongue - Liver</td>
					<td valign="top">Leg</td>
				</tr>
				<tr>
					<td valign="top">Bones - Fat</td>
					<td valign="top">Breast</td>
				</tr>
				<tr>
					<td valign="top">Hot Dogs</td>
					<td valign="top">Cutlet</td>
				</tr>
				<tr>
					<td valign="top">Jerky</td>
					<td valign="top">Ground</td>
				</tr>
				<tr>
					<td valign="top">Sticks</td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Other:</td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">NAME</td>
					<td valign="top">Phone</td>
				</tr>
				<tr>
					<td valign="top">CARE OF</td>
					<td valign="top">Date</td>
				</tr>
				<tr>
					<td valign="top">ANIMAL #</td>
					<td valign="top">Gross Wgt.</td>
				</tr>
			</table>
		</a>
