		<a href="/pdf/Pricing.pdf" target="_blank" class="pricing">
			<table>
				<tr>
					<th valign="top">The Farmers Place Retail Pricing</th>
					<th valign="top"></th>
				</tr>
				<tr>
					<td valign="top">Muscle jerky – Cajun or hillbilly</td>
					<td valign="top">$25.00</td>
				</tr>
				<tr>
					<td valign="top">Pressed jerky – Honey BBQ or Hillbilly</td>
					<td valign="top">$25.00</td>
				</tr>
				<tr>
					<td valign="top">Hot Sticks or BBQ Sticks</td>
					<td valign="top">$10.00</td>
				</tr>
				<tr>
					<td valign="top">Jalapeño Sticks</td>
					<td valign="top">$10.00</td>
				</tr>
				<tr>
					<td valign="top">Pepperoni sticks</td>
					<td valign="top">$10.00</td>
				</tr>
				<tr>
					<td valign="top">Hard Pepperoni</td>
					<td valign="top">$8.00/LB</td>
				</tr>
				<tr>
					<td valign="top">Hot Dogs – German or polish</td>
					<td valign="top">$6.00</td>
				</tr>
				<tr>
					<td valign="top">Jalapeño dogs</td>
					<td valign="top">$7.00</td>
				</tr>
				<tr>
					<td valign="top">Ground Beef</td>
					<td valign="top">$4.00</td>
				</tr>
				<tr>
					<td valign="top">Beef Patties</td>
					<td valign="top">$6.00/LB</td>
				</tr>
				<tr>
					<td valign="top">Hot, Sweet or Breakfast Sausage – BULK</td>
					<td valign="top">$3.00</td>
				</tr>
				<tr>
					<td valign="top">Hot, Sweet or Breakfast Sausage – Link or Patty</td>
					<td valign="top">$5.00</td>
				</tr>
				<tr>
					<td valign="top">Pulled Pork</td>
					<td valign="top">$8.00/LB</td>
				</tr>
				<tr>
					<td valign="top">Rings (1.5LB) – German Bologna, Pennsylvania Bologna,</td>
					<td valign="top">$3/25.00</td>
				</tr>
				<tr>
					<td valign="top">Andouille, Chorizo, Honey BBQ, 7 Peer, Summer</td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Summer Sausage</td>
					<td valign="top">$8.00</td>
				</tr>
				<tr>
					<td valign="top">Jalapeño Summer Sausage</td>
					<td valign="top">$9.00</td>
				</tr>
				<tr>
					<td valign="top">Red Barn Large Diameter Bologna</td>
					<td valign="top">$6.00/LB</td>
				</tr>
				<tr>
					<td valign="top">Variety of Lunch Meat</td>
					<td valign="top">$6-12/IB</td>
				</tr>
				<tr>
					<td valign="top">Variety of Cheeses</td>
					<td valign="top">$8-$12/LB</td>
				</tr>
			</table>
		</a>
		<a href="/pdf/Tally.pdf" target="_blank" class="tally">
			<table>
				<tr>
					<th valign="top">
						<h5>The Farmer's Place</h5>
						<h5>joesfarmersplace.net</h5>
						<h5>607.847.8234</h5>
					</th>
					<th valign="top"></th>
					<th valign="top"></th>
				</tr>
				<tr>
					<td valign="top">Slaughter</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Hanging Weight</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Smoking Weight</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Hot Sausage</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Sweet Sausage</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Breakfast Sausage</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Snack Stix</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Hot Dogs</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">German</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Polish</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Jalapeño</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Pepperoni</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Summer</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top"></td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Subtotal</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Tax on Labor</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
				<tr>
					<td valign="top">Grand Total</td>
					<td valign="top"></td>
					<td valign="top"></td>
				</tr>
			</table>
		</a>
