		<h4>Custom-cut beef and more in South Edmeston, NY</h4>
		<p>Farmers Place is well-known in the Upstate New York region and beyond for fresh meat products, custom cuts, BBQ, and party platters. We invite you to try any of our products. We're sure you'll love them and come back for more.</p>
		<a href="#contactUs">Contact Us</a>
		<h5>Fresh Meat</h5>
		<p>When it comes to fresh, high-quality meats, you'll find there is no better place in Upstate New York. We carry a full range of products including, fresh pork, chicken and beef products as well as processed product such as: Kielbasa, Summer Sausage, Polish sausage, various rings with flavors including: Nacho Jalapeño, Andoullie, Chorizo, Honey BBQ, Polish, Pennsylvania and German Bologna. We also have items like whole smoked hams, bacon, pork sausage, bratwurst and various other specialty products that are hand-made in our plant and made in-house to provide you a taste like no other!</p>
		<p>With our wide assortment of products you're sure to find what you're looking for. If you're looking to have your farm-raised animals processed, we can help with that as well.</p>
		<h5>Party Platters</h5>

		<p>Having a party and don't want to cook? Or perhaps you want to spend time with your guests and not on prep work? At the Farmer's Place we can take the worry and stress out of your event! Providing a full array of platters that are sure to please your guests, we can ensure that your guests will be coming back for more!</p>
		<p>Our platters include but are not limited to  Deli Meat and Cheese: your choice of 3 meats, thin sliced and paired with your choice of 3 cheeses, arranged on a small or extra large platter, with garnish. For an additional charge, we can include party rolls, condiments and toppings to satisfy your guests.  Snack Stick Tray: Your choice of 3 of our delicious snack sticks and 3 cheeses, cut into bite sized pieces and served with garnish.</p>
		<p>Whether you choose one of our spicy sticks, such as Jalapeño or Hot Sticks, or a savory stick like Honey BBQ, Classic BBQ or Pepperoni, it will pair well with our assortment of specialty cheeses like: Chipotle Habanero, Peppadew Cheddar or Aged Sharp Cheddar.</p>
		<h4>Contact us in South Edmeston for a tasty BBQ menu</h4>
		<p>For a wide range of award-winning BBQ , you can't go wrong with Farmers Place. Contact us to learn more about our fresh meat and custom cut products. Call (607) 847-8234, or get in touch with us by email or the convenient contact form on this page. We look forward to serving you.</p>
