<!doctype html>
<html>
<head>
	{{> analytics/googs-script }}
	<title>Beef | Edmeston, NY | Farmers Place</title>
	{{> meta }}
    <link rel="Shortcut Icon" href="/img/favicon.ico"/>
	<link rel="canonical" href="/">
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/deerman.css"/>
</head>
<body>
	{{> analytics/googs-no-script }}
	{{> header }}
	{{> pasture}}
	{{{ body }}}
	{{> pasture}}
	{{> footer }}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://kit.fontawesome.com/68e47c7a88.js" crossorigin="anonymous"></script>
	<script src="/js/deerman.js"></script>
</body>