<div class="footer">
	<h3 class="f3">Farmers Place</h3>
	<p>256 County Hwy 20</p>
	<p>South Edmeston, NY 13411</p>
	<div>(607) 847-8234</div>
	<a href="mailto:deerman25622@yahoo.com">deerman25622@yahoo.com</a>
	<a href="https://www.facebook.com/Farmers-Place-446652615540631" target="_blank" dmle_dont_remove="target" dm_dont_rewrite_url="true"> <span class="dmSocialFacebook dm-icon-facebook oneIcon socialHubIcon style3" data-hover-effect=""><img src="img/facebook.png"/></span></a> 
</div>
