{{> animalFarm}}

<div class="header">
	<ul>
		<li>Home.</li>
		<li>Services.</li>
		<li>World Cup.</li>
		<li>Contact Us.</li>
	</ul>
	<a href="/" class="masthead"><img src="/img/masthead.png"></a>
</div>