<div class="butchersBlock bg-white clearfix">
	<h1 class="placeForFreshMeat f1 tc">Farmers Place is your place for fresh meat and award winning products!</h1>

	<a class="contactUs f3" href="#contactUs">Contact Us</a>
		
	{{> index/orderForm}}
		
	<div class="facebook">
	</div>
		
	<div class="messages clearfix">
		{{> index/messages}}
	</div>
</div>